.map {
  grid-column: 2;
}

.data {
  grid-column: 3;
}

.data li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

.data li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--p2);
}

[data-week]::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: var(--p3);
  border-radius: 50%;
  margin-left: 4px;
  border: 2px solid var(--r-1);
}

[data-week].open::after {
  background: var(--g);
  border: 2px solid var(--g-1);
}
