.gallery {
  grid-column: 1 / -1;
}

.wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  border-radius: 2px;
  overflow: hidden;
  max-width: 800px;
  margin: 0 20px;
  opacity: 0.6;
  transform: scale(0.8);
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.slide li.on {
  opacity: 1;
  transform: scale(1);
}

.custom_control {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  grid-column: 1 / -1;
}

.custom_control li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.125rem;
  transition: 0.3s;
}

.custom_control li.on {
  opacity: 1;
  transform: scale(1);
}
